:root {
  --hover-color: #ed254e;
  --background: #f3fcf0;
}
body {
  background-color: var(--background);
}
#grid-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, calc(100% / 16));
  grid-template-rows: repeat(16, calc(100% / 16));
  background-color: white;
}
.option-container {
  background-color: lightblue;
}
.color-container {
  display: grid;
}
.color-option {
  border-radius: 50%;
}
.active-mode {
  background-color: red;
}
.color-option {
  width: 100px;
  height: 100px;
  border: none;
}
.square {
  transition: 0.2s;
  background-color: white;
  border: 1px solid black;
}
.hovered {
  background-color: var(--hover-color);
}
