:root {
  --hover-color: #ed254e;
  --background: #f3fcf0;
}
body {
  background-color: var(--background);
}
#grid-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, calc(100% / 16));
  grid-template-rows: repeat(16, calc(100% / 16));
  background-color: white;
}
.mode-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.option-container {
  flex: 1;
  min-width: 250px;
  background-color: lightblue;
}
.color-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.color-option {
  height: 50px;
  transition: 0.25s;
}
.color-option:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px black;
}
.active-mode {
  background-color: red;
}

.square {
  transition: 0.2s;
  background-color: white;
  border: 1px solid black;
}
